<%= form_for(student) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nom" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Age" %>
    <%= f.text_field :age %>
  </div>

  <div class="field">
    <%= f.label "Url Photo" %>
    <%= f.text_field :picture %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

