

<!-- Partie haute -->
<div class="up">
  <div class="jumbotron">
    <div class="container">
      <h1>Gestion des cours</h1>
      <h4><%= Student.count %> élèves sont actuellement inscrits</h4>
      <div class="btn btn-primary btn-lg">
        <%= link_to 'Créer étudiant', new_student_path %>
      </div>
    </div>
  </div>
</div>

<div class="row">
<!-- Colonne de gauche -->
  <div class="col-sm-8">
    <div class="container">
      <h2> Liste des cours </h2>
      <%= link_to "Créer cours", courses_path %>
      <!-- Tableau des cours -->
      <table class="table table-striped">

        <thead>
          <tr>
            <th>Matière</th>
            <th>Professeur</th>
            <th>Etudiants inscrits</th>
            <th>Accès</th>
          </tr>
        </thead>

        <tbody>
          <% @courses.each do |course| %>
            <tr>
              <th><%= course.field %></th>
              <th><%= course.teacher %></th>
              <th><%= course.students.count %></th>
              <th><%= link_to('Gérer cours', setup_courses_path(course.id)) %></th>
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>
  </div>

<!-- Colonne de droite -->
  <div class="col-sm-4">
    <h2> Etudiants </h2>

    <%= render @students %>
    
  </div>
</div>

