

<!-- Partie haute -->
<div class="up">
  <div class="jumbotron">
    <div class="container">
      <h1><%= t('title') %> </h1>
      <h4><%= Student.count %> <%= t('.count_suscribed_students') %> </h4>
    </div>
  </div>
</div>

<div class="row">
<!-- Colonne de gauche -->
  <div class="col-sm-8">
    <div class="container">
      <h2> <%= t('.courses_list')%> <small><%= link_to( t('.add_course') , new_course_path) %></small</h2>
      <!-- Tableau des cours -->
      
        <%= render "courses_table_display" %>

    </div>
  </div>

<!-- Colonne de droite -->
  <div class="col-sm-4">
    <h2> <%= t('.students') %> <small><%= link_to( t('.add_student'), new_student_path) %></small></h2>

    <%= render @students.limit @limit %>

    <div "draw_more">
      <% if Student.count > @limit %>
        <%= button_to( t('.see_more', count: (Student.count - @limit)) , {controller: :students, action: :increment_limit, limit_value: @limit}) %>
      <% end %>
    </div>
    
  </div>
</div>

