<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <!--<%= button_to "Ajouter", new_student %>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Partie haute -->
<div class="up">
  <div class="jumbotron">
    <div class="container">
      <h1>Gestion des cours</h1>
      <h4><%= Student.count %> élèves sont actuellement inscrits</h4>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Gérer les élèves</a></p>
    </div>
  </div>
</div>

<div class="row">
<!-- Colonne de gauche -->
  <div class="col-sm-8">
    <div class="container">
      <h2> Liste des cours </h2>
      <!-- Tableau des cours -->
      <table class="table table-striped">

        <thead>
          <tr>
            <th>Matière</th>
            <th>Professeur</th>
            <th>Etudiants inscrits</th>
          </tr>
        </thead>

        <tbody>
          <% @courses.each do |course| %>
            <tr>
              <th><%= course.field %></th>
              <th><%= course.teacher %></th>
              <th><%= course.students.count %></th>
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>
  </div>

<!-- Colonne de droite -->
  <div class="col-sm-4">
    <h2> Etudiants </h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="modal">Ajouter Etudiant</button>

    <!-- Affichage du profil des étudiants -->
    <% @students.each do |student| %>
      <div class="student">
        <div class="row">

          <!-- Photo -->
          <div class="col-sm-2">
              <img src=<%= student.picture %> title=<%= student.name %> class="img-circle">
          </div>
          
          <!-- Nom -->
          <div class="col-sm-10">
            <h1><%= link_to(student.name, student_path(student.id)) %>
          </div>

          <hr>

          <!-- Inscription au cours -->
          <div>
            <% if student.course != nil %>
              <p>Est actuellement inscrit au cours de <%= student.course.field %></p>
            <% else %>
              <p>N'est actuellement inscrit à aucun cours</p>
            <% end %>
          </div>

        </div>
      </div>

      <br>
    <% end %>
  </div>
</div>

<script>
  $('#mod_new_student').on('shown.bs.modal', function () {
  $('#myInput').focus()
  })
</script>