<!-- Tête -->
<div class="profile_head">
  <div class= "container">

    <h1><%= @course.field %></h1>
    <h3>Avec <%= @course.teacher %>
    <h3><%= @course.students.count %> élèves y sont inscrits</h3>

  </div>
</div>

<!-- Gestion des attributions -->
<div class="container">
  <div class="row">
  <!-- Inscrit -->

    <%= render "defined_students" %>

  <!-- Pas inscrit -->

    <%= render "undefined_students" %>
    
  </div>
</div>