<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if @student != nil %>
        <%= @student.name %>
      <% else %>
        <%= t('title') %>
      <% end %>
    </title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="row">

        <div class="col-sm-1">
          <!-- Logo -->
        </div> 

        <div class="col-sm-1">
          <h4><%= link_to t('home'), students_path %></h4>
        </div>  

        <div class="col-sm-8"> </div>

        <div class="col-sm-2">
          <%= link_to image_tag("fr_flag.png", size: "32"), change_lang_path(:fr) %>
          <%= link_to image_tag("en_flag.ico", size: "32"), change_lang_path(:en) %>
        </div>

      </div>
    </header>

    <p id="error"><%= flash[:error] %></p>
    <p id="notice"><%= flash[:notice] %></p>

    <%= yield %>
  </body>
</html>
